@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}

/* COMBO-1 */
@font-face{
  font-family: oswald;
  src: url(src/assets/Font/combo3/oswald/Oswald-Regular.ttf);
}
@font-face{
  font-family: opensans;
  src: url(src/assets/Font/combo3/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face{
  font-family: lora;
  src: url(src/assets/Font/Lora/Lora-VariableFont_wght.ttf);
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: black;
  color: white;
}

.grid div{
  grid-row: var(--r);
  grid-column: var(--c);
}

.hello:hover .box2{
  opacity: 1;
  scale: 1;
}

